*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --baige: #f4f1de;
  --coral: #e07a5f;
  --blue: #3d405b;
  --green: #81b29a;
  --tan: #f2cc8f;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: var(--blue);
}

.hide {
  display: none;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: var(--baige);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btnGrid {
  display: grid;
  grid-template-columns: 1;
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid var(--baige);
  background-color: var(--green);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

li {
  list-style: none;
}

#startButton {
  background-color: var(--tan);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--blue);
  outline: none;
}

#restartGameBtn {
  background-color: var(--coral);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--blue);
  outline: none;
}

#submitBtn {
  background-color: var(--green);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--blue);
  outline: none;
}

.btn:hover {
  border-color: var(--blue);
  background-color: var(--coral);
}

#countdown {
  color: var(--blue);
}
